html, body {
  height: 100%;
}

#coverimage {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#deBoot a {
     color: rgba(153,153,153,1);
}

/* Change the color of links on hover */
#deBoot a:hover {
  color: rgba(17,17,17,1);
  text-decoration: none;
}

/* Add a color to the active/current link */
#deBoot a:focus {
  color: rgba(17,17,17,1)
}

/* remove background color*/
#deBoot>li>a:hover, #deBoot>li>a:focus {
    background-color: transparent;
}

/* Style the links inside the navigation bar */
#coverenter a {
     color: rgba(255,255,255,1);
}

/* Change the color of links on hover */
#coverenter a:hover {
  color: rgba(17,17,17,1);
  text-decoration: none;
}

/* Add a color to the active/current link */
#coverenter a:focus {
  color: rgba(17,17,17,1)
}

/* Style the links inside the navigation bar */
#header a {
     color: #222;
}

/* Change the color of links on hover */
#header a:hover {
  color: #222;
  text-decoration: none;
}

/* Add a color to the active/current link */
#header a:focus {
  color: #222;
}

/* remove background color*/
#header>li>a:hover, #header>li>a:focus {
    background-color: transparent;
}

.icon-bar {
  background-color: black;
}

.navbar .navbar-collapse {
  text-align: center;
}

#coverimage {
  background-image: url('../img/ChitinaRiver_Alaska_aerial CoverPageSize.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
  position: relative;
}

#mainsitebackground {
  background-color: rgba(252,252,252,1);
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#coverheader {
  text-align: center;
  margin-top: 25%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: -0.01em;
  text-transform: none;
  line-height: 1em;
  color: rgba(255,255,255,1);
}

#coverenter {
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 1em;
  color: rgba(255,255,255,1);
}

#deBoot {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2em;
}

#header {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  letter-spacing: .75px;
  text-decoration: none;
  text-transform: uppercase;
}

#myTopnav {
  margin-top: 5%;
  margin-left: auto;
  margin-bottom: 3%;
}

h5 {
  color: rgba(64,64,64,1);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.6em;
}

.thumbnail {
  border: 0 none;
}

img:hover {
  opacity: .80;
}

#gallerypage {
  margin-bottom: 7.5%;
  margin-top: 5%;
}

#bioandpic {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7.5%;
}

#biorow {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

#bioblock {
  padding-top: 7.5%;
}

.biotext {
  color: rgba(87,87,87,1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  line-height: 1.8em;
}

.contact {
  padding-top: 5%;
  color: rgba(87,87,87,1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  line-height: .5em;
}

#bookmaintext {
  text-align: center;
  margin-bottom: 3.5%;
}

#bookheader {
  color: rgba(34,34,34,1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2em;
}

#bookbody {
  color: rgba(87,87,87,1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  line-height: 1.8em;
}

h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

hr {
  width: 50%;
  color: black;
  border-style: none;
  border-width: 1px;
  background-color: black;
  height: 1px;
}

.bookdescriptions {
  color: rgba(87,87,87,1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  line-height: 1.8em;
}

#bookcontainer {
  margin-top: 7.5%;
}

#allbook {
  margin-left: 5%;
  margin-right: 5%;
}
